.tab-btn{
    background-color:#DCA123 !important;
}

.tab-btn:hover{
    background-color:#EDC84F !important;
}

.tab-btn-invert{
    background-color:#3F454C !important;
}

.tab-btn-invert:hover{
    background-color:#808991 !important;
}

.nav-border1{
    background-color:#DCA123 !important;
    transition: all ease-in-out;
}

.nav-border1:hover{
    background-color:#EDC84F !important;
    transition: all ease-in-out;
}